MainServer/Connected Services/BalancerReference/BalancerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MakeRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SenderIP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Plane" type="tns:Plane" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestDifficulty" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestTime" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Plane">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PlaneType" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:element name="MakeRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakeRequestResult" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewRequest">
        <s:complexType />
      </s:element>
      <s:element name="NewRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewRequestResult" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewPlane">
        <s:complexType />
      </s:element>
      <s:element name="NewPlaneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewPlaneResult" type="tns:Plane" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreServerResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MakeRequestSoapIn">
    <wsdl:part name="parameters" element="tns:MakeRequest" />
  </wsdl:message>
  <wsdl:message name="MakeRequestSoapOut">
    <wsdl:part name="parameters" element="tns:MakeRequestResponse" />
  </wsdl:message>
  <wsdl:message name="NewRequestSoapIn">
    <wsdl:part name="parameters" element="tns:NewRequest" />
  </wsdl:message>
  <wsdl:message name="NewRequestSoapOut">
    <wsdl:part name="parameters" element="tns:NewRequestResponse" />
  </wsdl:message>
  <wsdl:message name="NewPlaneSoapIn">
    <wsdl:part name="parameters" element="tns:NewPlane" />
  </wsdl:message>
  <wsdl:message name="NewPlaneSoapOut">
    <wsdl:part name="parameters" element="tns:NewPlaneResponse" />
  </wsdl:message>
  <wsdl:message name="StoreServerSoapIn">
    <wsdl:part name="parameters" element="tns:StoreServer" />
  </wsdl:message>
  <wsdl:message name="StoreServerSoapOut">
    <wsdl:part name="parameters" element="tns:StoreServerResponse" />
  </wsdl:message>
  <wsdl:portType name="BalancerServiceSoap">
    <wsdl:operation name="MakeRequest">
      <wsdl:input message="tns:MakeRequestSoapIn" />
      <wsdl:output message="tns:MakeRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewRequest">
      <wsdl:input message="tns:NewRequestSoapIn" />
      <wsdl:output message="tns:NewRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewPlane">
      <wsdl:input message="tns:NewPlaneSoapIn" />
      <wsdl:output message="tns:NewPlaneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoreServer">
      <wsdl:input message="tns:StoreServerSoapIn" />
      <wsdl:output message="tns:StoreServerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BalancerServiceSoap" type="tns:BalancerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeRequest">
      <soap:operation soapAction="http://tempuri.org/MakeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRequest">
      <soap:operation soapAction="http://tempuri.org/NewRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPlane">
      <soap:operation soapAction="http://tempuri.org/NewPlane" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreServer">
      <soap:operation soapAction="http://tempuri.org/StoreServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalancerServiceSoap12" type="tns:BalancerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeRequest">
      <soap12:operation soapAction="http://tempuri.org/MakeRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRequest">
      <soap12:operation soapAction="http://tempuri.org/NewRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPlane">
      <soap12:operation soapAction="http://tempuri.org/NewPlane" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreServer">
      <soap12:operation soapAction="http://tempuri.org/StoreServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalancerService">
    <wsdl:port name="BalancerServiceSoap" binding="tns:BalancerServiceSoap">
      <soap:address location="http://localhost:5434/BalancerService.asmx" />
    </wsdl:port>
    <wsdl:port name="BalancerServiceSoap12" binding="tns:BalancerServiceSoap12">
      <soap12:address location="http://localhost:5434/BalancerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>