ReserveServer/Connected Services/BalancerReference/BalancerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SenderIP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Plane" type="tns:Plane" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestDifficulty" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestTime" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Plane">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PlaneType" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="requestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestResult" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="requestSoapIn">
    <wsdl:part name="parameters" element="tns:request" />
  </wsdl:message>
  <wsdl:message name="requestSoapOut">
    <wsdl:part name="parameters" element="tns:requestResponse" />
  </wsdl:message>
  <wsdl:portType name="BalancerServiceSoap">
    <wsdl:operation name="request">
      <wsdl:input message="tns:requestSoapIn" />
      <wsdl:output message="tns:requestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BalancerServiceSoap" type="tns:BalancerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="request">
      <soap:operation soapAction="http://tempuri.org/request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalancerServiceSoap12" type="tns:BalancerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="request">
      <soap12:operation soapAction="http://tempuri.org/request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalancerService">
    <wsdl:port name="BalancerServiceSoap" binding="tns:BalancerServiceSoap">
      <soap:address location="http://localhost:5434/BalancerService.asmx" />
    </wsdl:port>
    <wsdl:port name="BalancerServiceSoap12" binding="tns:BalancerServiceSoap12">
      <soap12:address location="http://localhost:5434/BalancerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>