CalculationServer/Connected Services/ServiceReference1/CalculatingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.43.144:51077/calc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.43.144:51077/calc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.43.144:51077/calc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.43.144:51077/calc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculatingService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="ICalculatingService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatingService_CalculateLine_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateLine" />
  </wsdl:message>
  <wsdl:message name="ICalculatingService_CalculateLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateLineResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculatingService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnect/Connect" message="tns:ICalculatingService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnect/ConnectResponse" message="tns:ICalculatingService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatingService/CalculateLine" message="tns:ICalculatingService_CalculateLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatingService/CalculateLineResponse" message="tns:ICalculatingService_CalculateLine_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculatingService" type="tns:ICalculatingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap:operation soapAction="http://tempuri.org/IConnect/Connect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateLine">
      <soap:operation soapAction="http://tempuri.org/ICalculatingService/CalculateLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatingService">
    <wsdl:port name="BasicHttpBinding_ICalculatingService" binding="tns:BasicHttpBinding_ICalculatingService">
      <soap:address location="http://192.168.43.144:51077/calc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>